/* CUSTOMIZE THE CARDS
-------------------------------------------------- */

.card-body, .card-body>p{
    text-align: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
    min-width: 15vw;
    min-height: 35rem;
}

.card img{
    height: 50%;
}