.footer-container {
  margin: 20vh auto 0 !important;
  text-align: center;
}

.footer-links a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 125%;
  margin: 0.2rem;
}

.footer-links {
  margin-left: 33%;
  width: 33%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

p {
  text-align: center;
}

i {
  font-size: 2rem;
  color: #555;
}

i:hover {
  color: rgb(078, 042, 132);
}
