<nav class="navbar navbar-expand">
  <div class="container">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li class="nav-item">
        <a a routerLink="/educate" routerLinkActive="active" class="nav-link">
          <i class="fas fa-lightbulb"></i>
        </a>
      </li>
      <li class="nav-item">
        <a a routerLink="/explore" routerLinkActive="active" class="nav-link">
          <i class="fas fa-compass"></i>
        </a>
      </li>
      <li class="nav-item">
        <a a routerLink="/engage" routerLinkActive="active" class="nav-link">
          <i class="fas fa-comments"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>