/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,500,700|Karla:400,700');
body {
    overflow-x: hidden;
    background-color: #eeeeee;
    font-family: 'Nunito Sans', sans-serif;
}

/**************
    
    TYPOGRAPHY

**************/

h1, h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

h2 {
    color: rgb(078, 042, 132);
}

h2:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 5rem;
    /* Change this to whatever width you want. */
    padding-top: .75rem;
    /* This creates some space between the element and the border. */
    border-bottom: .1rem solid rgb(078, 042, 132);
    /* This creates the border. Replace black with whatever color you want. */
    margin-bottom: 2rem;
}

#tagline:after {
    border-bottom: #eeeeee solid .1rem;
}

#abt-title {
    text-align: left;
}

#abt-title:after {
    margin: 0;
}

a, p, li, h3, h4, h5 {
    font-family: 'Karla', sans-serif;
}

h3 {
    font-weight: 400;
}

a, p, li {
    font-weight: 400;
}

a, a:hover {
    color: rgb(078, 042, 132);
}

p {
    line-height: 1.75rem;
    text-align: left;
}

sup {
    left: -.2rem;
}

/**************
   
    BOOTSTRAP MODS

**************/

.container {
    margin-bottom: 5rem;
}

.col-md-4 {
    margin-bottom: 4rem;
}

/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
    background-color: rgba(40, 40, 40, 0.70);
}

.carousel-item>img {
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
    height: 32rem;
}

/**************
   
    HEADSHOTS

**************/

.mem img {
    width: 60%;
    border-radius: 50%;
}

.mem {
    text-align: center;
}

.mem p {
    text-align: center;
}

.members {
    text-align: center;
}

.mem-position {
    margin-top: -.25rem;
    margin-bottom: 1rem;
}