<title>IEEE Northwestern | Home</title>
<!--HERO-->
<div class="animate fadeIn">
  <div id="main">
    <div class="alert alert-success" role="alert">
      The application for the IEEE IE <sup>3</sup> Technical Program is available now! Apply <a href="https://bit.ly/ie3-app-2018" target="_blank" class="alert-link">here</a>!
      The application closes <strong>Monday, October 15th at midnight.</strong>
    </div>
    <div class="container">
      <div id="hero">
        <embed class="hidden" id="ieee-logo" type="image/svg+xml" src="assets/svg/ieee-white.svg">
        <h1 class="hidden" id="title">IEEE at Northwestern University</h1>
        <h2 class="hidden" id="tagline">
          <small>
            <strong> Educate. Explore. Engage.</strong>
          </small>
        </h2>
      </div>
    </div>
  </div>

  <!--Who We Are-->
  <div class="container about-us">
    <div class="row">
      <div class="col-md-6">
        <h2 id="abt-title">Who We Are</h2>
        <p>
          The Northwestern University Student Chapter of the Institute of Electrical and Electronics Engineers (IEEE
          NU) is an organization
          dedicated to providing the resources and outlets through which the University's aspiring engineers,
          tinkerers,
          and hackers can learn and create with their craft. Our chapter is directly supported and funded by
          Northwestern
          University's
          <a target="_blank" href="http://www.mccormick.northwestern.edu/eecs/">
            <strong> Electrical Engineering and Computer Science</strong>
          </a> (EECS) department.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="assets/ieee_photos/badhacks/team.JPG">
      </div>
    </div>
    <hr>
  </div>

  <!--What We Do-->

  <div class="container what">
    <h2 id="what-title">What We Do</h2>
    <div class="row">
      <div class="col-md-4 ">
        <i class="fas fa-lightbulb"></i>
        <h3>Educate</h3>
        <p>IEEE co-hosts educational CS events with other groups on campus and provides hands-on training that is
          supplemental
          to Northwestern's education in areas like web development and career prep. HackNights include presentations
          with
          hands-on coding activities, as well as catered food for attendees.</p>
        <a class="btn btn-outline-secondary" href="/educate" role="button">Learn More</a>
      </div>
      <div class="col-md-4 ">
        <i id="compass" class="fas fa-compass"></i>
        <h3>Explore</h3>
        <p>Every year, IEEE helps motivated students develop a side project under the leadership of a student mentor.
          This program
          provides students with the opportunity to gain experience in computer science and become a member of IEEE.
          These
          projects are then entered in a showcase open to all Northwestern students.</p>
        <a class="btn btn-outline-secondary" href="/explore" role="button">Learn More</a>
      </div>
      <div class="col-md-4 ">
        <i class="fas fa-comments"></i>
        <h3>Engage</h3>
        <p>It is important that IEEE connects with the greater Northwestern community, both to foster relationships
          between
          the organization and other students, as well as ensure that students know what opportunities are available to
          them
          in computer science. Many of IEEE's events are open to all Northwestern students.</p>
        <a class="btn btn-outline-secondary" href="/engage" role="button">Learn More</a>
      </div>
    </div>
    <hr>
  </div>

  <!--Exec headshots-->

  <div class="container">
    <h2 class="exec-title">Executive Board
      <br>
      <small>2018-2019</small>
    </h2>
    <div class="row">
      <div *ngFor="let headshotItem of headshotItems" class="col-md-4 mem">
        <img src="{{headshotItem.img}}" alt="{{headshotItem.alt}}" />
        <h5 class="mem-name">{{headshotItem.name}}</h5>
        <p class="mem-position">{{headshotItem.position}}</p>
      </div>
    </div>
  </div>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>